# Node
node_modules/
dist/
.env
.env.local
.env.dev

# Go
/bin/
/pkg/
/vendor/

# IDE
.vscode/
.idea/
.DS_Store

# Docker
docker-compose.override.yml
.env.docker.local
backend/.env.docker.local

# ignore local docker env file and uploaded files
.env.docker.local
backend/.env.docker

# Data files
data/files/*

# build
/build
server.exe